*{
  box-sizing: border-box;
  margin: 0;
}
body{
  margin: 0 auto;
  width: 100%;
  background-color: hsl(291, 12%, 22%);
  color: #3d323f;;
}

.header{
  margin: 0 auto;
  max-width: fit-content;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 130%;
  color: #fff4f4;;
}

.globalCard{
  background-color: hsl(0, 100%, 98%);
  text-align: center;
  margin: 0 auto;
  width: 60%;
  border-radius: 10px;
  border: 1.5px solid #a288a6;
  padding: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.container{
  max-width: 70%;
  margin: 0 auto;
}

.countryStatsSection{
  /* background-color: chocolate; */
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 1.5%;
  color: #fff4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 /* margin-top: 2%; */
}

#statsTable{
  padding: 1%;
  margin: 0 auto;
  border-radius: 10px;
  /* background-color: #fff4f4; */
  border: 1.5px solid #a288a6;
  /* background-color: blue; */
}

#statsTable tr:hover{
  color: #3d323f;
  background-color: #f1f1f1;
}
th{
  /* background-color: red; */
  padding: 20px;
  text-align: left; 
  padding-right: 30px;
}

td {
  /* background-color: aquamarine; */
  padding: 10px;
  text-align: left; 
  /* padding-right: 30px;   
  padding-top: 10px; */
}

caption {
  font-size: 27px;  
  margin-top: 20px;
  text-align: left;
  /* text-transform: u; */
  margin-bottom: 20px;
  
}

.searchSection{
  margin: 0 auto;
  text-align: right;
  padding-top: 2%;
}

#searchBar{
  width: 27%;
  padding: 2%;
  font-size: 110%;
  border-radius: 10px;
}